@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap");

.container {
  display: block;
}
.wrapper {
  display: flex;
}
.form-wrapper {
  background-color: white;
}
.form {
  margin-left: 110px;
  margin-top: 110px;
}
.title {
  margin-left: 140px;
  font-weight: 600;
  font-size: 24px;
  color: #292929;
}
.form-label {
  font-size: 18px;
}
.form-input {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 350px;
  height: 25px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  background-color: white;
}
.form-input:focus {
  outline: none;
}
.form-button {
  width: 150px;
  height: 40px;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  margin-left: 220px;
}
.form_wallpaper {
  background-image: url("../images/2001961.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 500px;
  background-color: white;
}
.wallpaper-text {
  margin-top: 250px;
  margin-left: 120px;
  font-size: 28px;
  color: white;
}
.register-form {
  margin-top: 40px !important;
}
